/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
  /**
   * colors
   */
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  /**
   * typography
   */
  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  /**
   * border-radius
   */
  --border-radius-md: 10px;
  --border-radius-sm: 5px;
  /**
   * transition
   */
  --transition-timing: 0.2s ease;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img, ion-icon, button, a {
  display: block;
}

span {
  display: inline-block;
}

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::placeholder {
  font: inherit;
}

body {
  background: var(--white);
  padding-bottom: 60px;
}

/**
 * scrollbar style
 */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

p {
  font-size: 14px;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.container {
  padding: 0 15px;
}

.has-scrollbar {
  padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 12px;
  /* for vertical scroll */
  height: 12px;
  /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 90%);
}

.has-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 80%);
}

.title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cultured);
  margin-bottom: 30px;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/
/**
 * overlay
 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  /*transition: 0.5s ease;*/
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.header-main {
  padding: 20px 0;
  border-bottom: 1px solid var(--cultured);
}


.top-container {
  display: flex;
  justify-content: space-between;
}





.header-logo {
  margin-bottom: 20px;
}

.header-logo img {
  margin: auto;
}

.header-search-container {
  position: relative;
  top: 18px;
}

.header-search-container .search-field {
  font-size: var(--fs-7);
  color: var(--onyx);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
}

.search-field::-webkit-search-cancel-button {
  display: none;
}

.search-btn {
  background: var(--white);
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  color: var(--onyx);
  font-size: 18px;
  padding: 8px 15px;
  transition: color var(--transition-timing);
}

.search-btn:hover {
  color: var(--salmon-pink)
}

.top-bar {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.top-icon {
  margin: auto;
  font-size: 20px;
}

.home-content {
  position: relative;
  top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.category-scrollbar {
  display: flex;
  justify-content: space-between;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.icon-cat {
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}

.cat-icon {
  text-align: center;
  min-width: 30%;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 2px solid var(--cultured);
  border-radius: var(--border-radius-md);
  scroll-snap-align: start;
}

.slider-blog {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 90%;
  height: 80px;
  margin-top: 10px;
  min-width: 50%;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  scroll-snap-align: start;
}
.category-banner {
  display: flex;
  justify-content: space-between;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}
.checked {
  color: orange;
}
.clinic-name {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-top: 10px;
}
.clinic-phone {
  display: flex;
}
.number {
  padding-left: 10px;
}
.col-sm {
  grid-gap: 50px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
}
